
@{
    ViewData["Title"] = "Pending";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}



<style>
    .hidden {
        display: none;
    }
</style>


<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-car icon-gradient bg-mean-fruit">
                    </i>
                </div>
                <div>
                    Pending Subscriptions
                    <div class="page-title-subheading">
                        Lists of all subscribers with pending actions on the system.
                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                @*<button type="button" data-toggle="tooltip" title="Example Tooltip" data-placement="bottom" class="btn-shadow mr-3 btn btn-dark">
                        <i class="fa fa-star"></i>
                    </button>*@
                <div class="d-inline-block dropdown">
                    <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-shadow dropdown-toggle btn btn-info">
                        <span class="btn-icon-wrapper pr-2 opacity-7">
                            <i class="fa fa-business-time fa-w-20"></i>
                        </span>
                        Actions
                    </button>
                    <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a href="/admin" class="nav-link">
                                    <i class="nav-link-icon lnr-file-empty"></i>
                                    <span>
                                        New User
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/admin/existing" class="nav-link">
                                    <i class="nav-link-icon lnr-book"></i>
                                    <span>
                                        Existing Subscribers
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/admin/active" class="nav-link">
                                    <i class="nav-link-icon lnr-picture"></i>
                                    <span>
                                        Active Subscribers
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/admin/expired" class="nav-link">
                                    <i class="nav-link-icon lnr-picture"></i>
                                    <span>
                                        Expired Subscribers
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a disabled href="/admin/search" class="nav-link">
                                    <i class="nav-link-icon lnr-file-empty"></i>
                                    <span>
                                        Search Tag
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="mb-3 progress hidden" id="processor">
                <div class="progress-bar progress-bar-animated bg-danger progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
            </div>
            <div class="main-card mb-3 card">
                <div class="card-header">
                    Pending Subscriptions
                    @*<div class="btn-actions-pane-right">
                    <div role="group" class="btn-group-sm btn-group">
                        <button class="active btn btn-focus">Last Week</button>
                        <button class="btn btn-focus">All Month</button>
                    </div>
                </div>*@
                </div>
                <div class="table-responsive">
                    <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th>Name</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                        </tbody>
                    </table>
                </div>
                @*<div class="d-block text-center card-footer">
                <nav class="pull-right" aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a href="javascript:void(0);" class="page-link" aria-label="Previous"><span aria-hidden="true">«</span><span class="sr-only">Previous</span></a></li>
                        <li class="page-item"><a href="javascript:void(0);" class="page-link">1</a></li>
                        <li class="page-item active"><a href="javascript:void(0);" class="page-link">2</a></li>
                        <li class="page-item"><a href="javascript:void(0);" class="page-link">3</a></li>
                        <li class="page-item"><a href="javascript:void(0);" class="page-link">4</a></li>
                        <li class="page-item"><a href="javascript:void(0);" class="page-link">5</a></li>
                        <li class="page-item"><a href="javascript:void(0);" class="page-link" aria-label="Next"><span aria-hidden="true">»</span><span class="sr-only">Next</span></a></li>
                    </ul>
                </nav>
            </div>*@
            </div>
        </div>
    </div>

</div>

<input type="hidden" id="mpending" />
<script type="text/javascript">
    document.getElementById("li-pending").className = 'mm-active';
</script>

