@{
    ViewData["Title"] = "Home Page";
}

<div class="app-main__inner" style="vertical-align:middle">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-search text-success">
                    </i>
                </div>
                <div>
                    Tag Search
                    <div class="page-title-subheading">
                        Do Your Quick Tag Search.
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="tab-content">
        <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    @*<h5 class="card-title">Grid Rows</h5>*@
                    <div class="">
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="search-wrapper active" style="width:100%">

                                    <div class="input-holder" style="width:100%">
                                        <input type="text" id="txtSearch" class="search-input" placeholder="Type to search">
                                        <button id="btnSearch" onclick="javascript: search();" class="search-icon"><span></span></button>
                                    </div>
                                    <span id="error" class="text-danger pull-left"></span>
                                    <div class="mb-3 progress hidden" id="processor">
                                        <div class="progress-bar progress-bar-animated bg-danger progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="row hidden" id="searchTag">
        <div class="col-lg-6">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <h5 class="card-title"><label id="firstname"></label> <label id="lastname"></label></h5>
                    <table class="mb-0 table table-borderless">
                        <tbody>
                            <tr>
                                <td><img class="rounded-circle" id="my_img" height="150" width="150" /></td>
                                <td>
                                    <table>
                                        <tr>
                                            <td><label id="state"></label></td>
                                        </tr>
                                        <tr>
                                            <td><label id="city"></label></td>
                                        </tr>
                                        <tr>
                                            <td><label id="phone"></label></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <h5 class="card-title">Tagged Vehicles</h5>
                    <img class="fa-square" id="car_img" height="250" width="400" />
                    <table class="mb-0 table table-dark">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Tag Number</th>
                                <th>Item Type</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>