
@{
    ViewData["Title"] = "Index";
}
 
<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-drawer icon-gradient bg-happy-itmeo">
                    </i>
                </div>
                <div>
                    Tabs
                    <div class="page-title-subheading">
                        Tabs are used to split content between multiple sections. Wide variety available.
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="card-body">
        <div class="tab-content">
            <div class="tab-pane active" id="tab-eg1-0" role="tabpanel">
                <p>
                    It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                    software like Aldus PageMaker
                    including versions of Lorem Ipsum.
                </p>
            </div>
            <div class="tab-pane" id="tab-eg1-1" role="tabpanel">
                <p>
                    Like Aldus PageMaker including versions of Lorem. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                    essentially unchanged.
                </p>
            </div>
            <div class="tab-pane" id="tab-eg1-2" role="tabpanel">
                <p>
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
                    type specimen book. It has
                    survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                </p>
            </div>
        </div>
    </div>
</div>
